# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/
node_modules
.DS_Store
dist/js/.DS_Store
src/.DS_Store
src/flash/.DS_Store
src/flash/image/.DS_Store
