
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;

    .loading-main {
        height: auto;
        background: rgba(0,0,0,.3);
        padding: 30px;
        border-radius: 6px;
    }

}