.hotListImg{
    width: 35px;
    height: 20px;
    background-image: url(../../images/levelIco.png);
    display: inline-block;
    vertical-align: middle;
}

.lvRichIcon{
    width: 49px;
    height: 20px;
    background-image: url(../../images/levelIco.png);
    display: inline-block;
    vertical-align: middle;

    .r1{
        background-position: -100px 0px;
    }
    .r2{
        background-position: -100px -21px;
    }
    .r3{
        background-position: -100px -42px;
    }
    .r4{
        background-position: -100px -63px;
    }
    .r5{
        background-position: -100px -84px;
    }
    .r6{
        background-position: -100px -105px;
    }
    .r7{
        background-position: -100px -126px;
    }
    .r8{
        background-position: -100px -147px;
    }
    .r9{
        background-position: -100px -168px;
    }
    .r10{
        background-position: -100px -189px;
    }
    .r11{
        background-position: -100px -210px;
    }


    .r12{
        background-position: -150px 0px;
    }
    .r13{
        background-position: -150px -21px;
    }
    .r14{
        background-position: -150px -42px;
    }
    .r15{
        background-position: -150px -63px;
    }
    .r16{
        background-position: -150px -84px;
    }
    .r17{
        background-position: -150px -105px;
    }
    .r18{
        background-position: -150px -126px;
    }
    .r19{
        background-position: -150px -147px;
    }


    .r20{
        background-position: -200px 0px;
    }
    .r21{
        background-position: -200px -21px;
    }
    .r22{
        background-position: -200px -42px;
    }
    .r23{
        background-position: -200px -63px;
    }
    .r24{
        background-position: -200px -84px;
    }
    .r25{
        background-position: -200px -105px;
    }
    .r26{
        background-position: -200px -126px;
    }
    .r27{
        background-position: -200px -147px;
    }
    .r28{
        background-position: -200px -168px;
    }
    .r29{
        background-position: -200px -189px;
    }
    .r30{
        background-position: -200px -210px;
    }
    .r31{
        background-position: -200px -231px;
    }

}

/*贵族*/
.basicLevel1101, .basicLevel1102, .basicLevel1103, .basicLevel1104, .basicLevel1105, .basicLevel1106, .basicLevel1107 {
    width: 28px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    //margin-top: -3px;
}

.basicLevel1101{
    background-image : url(../../images/noble/1101.gif);
}

.basicLevel1101{
    background-image : url(../../images/noble/1101.gif);
}

.basicLevel1102{
    background-image : url(../../images/noble/1102.gif);
}

.basicLevel1103{
    background-image : url(../../images/noble/1103.gif);
}

.basicLevel1104{
    background-image : url(../../images/noble/1104.gif);
}

.basicLevel1105{
    background-image : url(../../images/noble/1105.gif);
}

.basicLevel1106{
    background-image : url(../../images/noble/1106.gif);
}

.basicLevel1107{
    background-image : url(../../images/noble/1107.gif);
}


/* 主播等级 */
.AnchorLevel1{
    background-position: -7px 0px;
}
.AnchorLevel2{
    background-position: -7px -21px;
}
.AnchorLevel3{
    background-position: -7px -42px;
}
.AnchorLevel4{
    background-position: -7px -63px;
}
.AnchorLevel5{
    background-position: -7px -84px;
}

.AnchorLevel6{
    background-position: -7px -105px;
}
.AnchorLevel7{
    background-position: -7px -126px;
}
.AnchorLevel8{
    background-position: -7px -147px;
}
.AnchorLevel9{
    background-position: -7px -168px;
}
.AnchorLevel10{
    background-position: -7px -189px;
}

.AnchorLevel11{
    background-position: -57px 0px;
}
.AnchorLevel12{
    background-position: -57px -21px;
}
.AnchorLevel13{
    background-position: -57px -42px;
}
.AnchorLevel14{
    background-position: -57px -63px;
}
.AnchorLevel15{
    background-position: -57px -84px;
}
.AnchorLevel16{
    background-position: -57px -105px;
}
.AnchorLevel17{
    background-position: -57px -126px;
}
.AnchorLevel18{
    background-position: -57px -147px;
}
.AnchorLevel19{
    background-position: -57px -168px;
}
//
//.badge{
//    width: 27px;
//    height: 28px;
//    margin: 0px 3px;
//    background-image: url(../../images/badge.png);
//    background-position: 0px -281px;
//}
//
//.badge900000{
//    background-position: 0px 0px;
//}
//
//.badge900001{
//    background-position: -28px 0px;
//}
//
//.badge900002{
//    background-position: -56px 0px;
//}
//
//.badge900003{
//    background-position: -84px 0px;
//}
//
//.badge900004{
//    background-position: -112px 0px;
//}
//
//.badge900005{
//    background-position: -140px 0px;
//}
//
//.badge900006{
//    background-position: -168px 0px;
//}
//
//.badge800000{
//    width: 49px;
//    height: 49px;
//    left: -3px !important;
//    background-position: -0px -157px;
//}

.rankList {
    display: inline-block;
    *zoom: 1;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    background: url(../../images/rank_list.png) -9999px -9999px no-repeat;


    &.r1 {
        background-position: 0 0;
    }

    &.r2 {
        background-position: -50px 0;
    }

    &.r3 {
        background-position: -100px 0;
    }

    &.r4 {
        background-position: -150px 0;
    }

    &.r5 {
        background-position: -200px 0;
    }

    &.r6 {
        background-position: -250px 0;
    }

    &.r7 {
        background-position: -300px 0;
    }

    &.r8 {
        background-position: -350px 0;
    }

    &.r9 {
        background-position: -400px 0;
    }

    &.r10 {
        background-position: -450px 0;
    }

    &.r11 {
        background-position: -500px 0;
    }

    &.r12 {
        background-position: -550px 0;
    }

    &.r13 {
        background-position: -600px 0;
    }

    &.r14 {
        background-position: -650px 0;
    }

    &.r15 {
        background-position: -700px 0;
    }
}
