.myRecord-list {
    //background: @white;
    .price {
        margin-left: 1rem;
    }
}

.msg-list {
    width: 100%;
    padding: 1rem;
    background: @white;
    box-sizing: border-box;
    p {
        line-height: 1.5;
        color: @gray;
    }
}

.myMount-panel {
    width: 100%;
    padding: 2rem;
    border-bottom: .1rem solid lighten(@grayLight,10%);
    box-sizing: border-box;

    .expirDate {
        color: @gray;
        line-height: 2;
    }

    .mount {
        margin: 1.5rem auto;
        display: block;
        width: 8rem;
    }

    .desc {
        font-size: 1.4rem;
        line-height: 1.8;
        margin-bottom: 1rem;
    }
}