
.user-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18rem;
    background: @second;
    color: @white;
    text-align: center;
    position: fixed;
    width: 100%;
    box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,.3);
    z-index: @zIndex100;

    .user-header-main {
        .avatar {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
        }

        .avatar-logo {
            height: 8rem;
            margin: 1rem 0 !important;
        }

        h4,h5 {
            margin: 0;
            color: @white;
        }
        h4 {
            line-height: 2;
            margin-top: 1rem;
            font-size: 2rem;
        }
        h5 {
            line-height: 1.5;
            color: #33bcb4
        }
    }

}

.user-content {
    padding-top: 15rem;
}

.btn-register, .btn-login {
    color: @white !important;
    margin: 1.2rem 1.5rem 0 !important;
    border-radius: 0.4rem !important;
    background: @prmary !important;
    padding: .2rem 2rem !important;
    height: auto !important;

    span {
        font-size: 1.8rem !important;
    }
}

.btn-login {
    background: #33bcb5 !important;
}

.listPanel {
    margin-top: 20rem;
    background: @black;
    text-align: center;
}

.menuItem {
    width: 28vw;
    border: .2rem solid #ccc;
    border-radius: .8rem;
    display: inline-block;
    margin: 2vw;

    .menuItem-icon {
        height: 10vw;
        display: block;
        margin: 1.5rem auto 0;
    }

    .menuItem-title {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3;
    }
}